<template>
<h1 style="font-size: 22.5px;">About</h1>
<h2>Hi im Devin and this website is made with vue js! <br> Im going to work on it more but in the process of that I hope you enjoy the creation of this website.<br> My contact info is below. Click the link to send me an email</h2>
<h2>email: <a style="font-size: 22.5px;" href="mailto:devinlittlee@gmail.com">devinlittlee@gmail.com</a></h2>
</template>