<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
</script>

<template>
  <router-link to="/">Home</router-link>
  <a> | </a>
  <router-link to="/about">About</router-link>
  <router-view></router-view>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #248a24;
  margin-top: 60px;
}
body{
    background-color: #141516;
}
a {
  color: white;
}
</style>
